* {
    box-sizing: border-box;
  }

  h1{
      text-align: center;
  }
.box{
    background-color: gray;
    margin: 10px;
    border: 1px solid black;
}

  .column1, .column2, .column3 {
    float: left;
    width: 33.33%;
    
  }
 
h3{
    border: 1px solid black;
    float: right;
    margin: 0px;
}


p{
    padding: 10px;
}

.row{
    width: 100%;
}
.col-md-3{
    width: 100%;
}
#col1{
    background-color: pink;
    padding: 0px;
} 
#col2{
    background-color:firebrick;
    color: white;
}
#col3{
    background-color: rgb(192, 184, 111);
}

/* for tablet view */
@media (max-width: 768px){
    .column1, .column2{
        width: 50%;
    }
    .column3{
        width: 100%;
    }
    
}

/* for mobile view */
@media (max-width:426px){
    .column1, .column2, .column3{
        width: 100%;
    }

}